<div class="flex flex-col justify-center items-center w-full bg-[#3678C2] h-full">
  <div class="flex flex-col justify-center items-center">
  <h1 class="font-bold text-4xl mt-4 text-white">Transaction</h1>
 
<p class="text-white">Total Amount: $<%= @total_price %></p>
 <div class="p-3"><%= link_to "Back", groups_path %></div>
  </div>
  <div class="w-full flex flex-col justify-center items-center bg-slate-100 p-2 ">
  <div class="flex justify-between items-center w-full">
  <p>Transaction type</p>
  <p>Amount</p>
  <p>Username</p>
  </div>
  <ul class="w-full flex flex-col justify-center items-center">
  <% @entities.each do |entity| %>
  <li class="bg-white p-2 shadow shadow-black w-[90%] flex justify-between items-center">
  <p><%= entity.name %></p>
  <p>$<%= entity.amount %></p>
  <p><%= entity.user.name %></p>
  </li>
  <%end%>
  </ul>
  <div class="mt-4 bg-[#5fb523] w-full flex justify-center items-center p-2">
  <%= link_to 'Add a New Transaction', new_group_entity_path, class: 'bg-[#5fb523] p-2 w-[80%] border border-white text-white text-center' %>
  </div>
  </div>
   
</div>
