 <div class="p-6 w-full flex-col items-center bg-[#3678C2]">
  <%= notice %>
    <div class='text-center p-2'>
    <h2 class='m-auto font-bold text-white text-3xl'>Add a Transaction</h2>
    <%= link_to 'Back', group_entities_path(@group) %>
    </div>

    <%= form_with model: @entity, url: group_entities_path, method: :post, class: 'flex justify-center items-center flex-col mt-8', local: true do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Enter Name", class: 'mb-4' %>
      </div>
      <div>
        <%= f.number_field :amount, placeholder: "Enter Amount" %>
      </div>
      <div class='flex'>
      <div class='m-auto bg-blue-300 p-3 rounded-md text-white mt-4'>
        <%= f.submit "Save", class: 'cursor-pointer' %>
      </div>
      </div>
    <% end %>
  </div>